
.nav-container{
    display: flex;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
}

nav .logo{
    width: 50px;
    height: 50px;
    /* border-radius: 50%; */
    
}

nav .logo img{
    width:  100%;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    
}

.k{
    text-decoration: none;
    border: 1px solid grey;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 7px;
    color: grey;
}

.k:hover{
    background-color: grey;
    color: white;
}

.s{
    text-decoration: none;
    background-color: grey;
    padding: 7px 10px;
    border-radius: 7px;
    color: white; 
}

.s:hover{
    border: 1px solid grey;
    background-color: transparent;
    color: grey;
}